<!--
  Generated template for the EditRouterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit {{internetPointOldName}} - Wifi Everywhere</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="updateRouter()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="internetPoint.Name" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="text" [(ngModel)]="internetPoint.Password" name="description"></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Update</button>
  </form>

</ion-content>