<div class="sidebar-nav">
        <div class="well" style="width:300px; padding: 8px 0;">
            <ul class="nav nav-list"> 
              <li class="nav-header">Admin Menu</li>        
              <li><a [routerLink]="['/landing']"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comments <span class="badge badge-info">10</span></a></li>
              <li><a [routerLink]="['/routers']"><i class="glyphicon glyphicon-globe"></i> Routers</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="glyphicon glyphicon-wrench"></i> Settings</a></li>
            </ul>
        </div>
    </div>