<!--
  Generated template for the DownloadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Download - Wifi Everywhere</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Tap download button to get all password from country for offline use.
    </ion-list-header>
    <ion-item *ngFor="let country of countries">
      <img src="assets/flags/{{country}}/32.png" item-start />
      <ion-label>{{country}}</ion-label>
      <button ion-button outline item-end (click)="getFileByCountry(country)">Download</button>
    </ion-item>
  </ion-list>
</ion-content>