<app-modal #modal>
    <div class="app-modal-header">
        Add new router
    </div>
    <div class="app-modal-body">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="internetPoint.Name">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="text" class="form-control" id="password" placeholder="Password" [(ngModel)]="internetPoint.Password">
        </div>
        <agm-map [latitude]="devicePosition.Latitude" [longitude]="devicePosition.Longitude">
                <agm-marker *ngFor="let router of allLocations; let i = index"
                [latitude]="router.Latitude" 
                [longitude]="router.Longitude">
            </agm-marker>
        </agm-map>

    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide();clearAllLocations();">Close</button>
        <button type="button" class="btn btn-primary" (click)="addRouter()" (click)="modal.hide()">Add</button>
    </div>
</app-modal>