<!--
  Generated template for the LandingOfflinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Wifi Everywhere</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  {{devicePosition.Latitude}}
    <ion-list>
        <ion-list-header>
          Tap connect button to connect on nearby router...
        </ion-list-header>
        <ion-item *ngFor="let router of internetPoints; let i=index">
          <img src="assets/flags/{{countries[i]}}/32.png" item-start />
          <ion-label>{{router.Name}}</ion-label>
          <button ion-button outline item-end [disabled]="!isHereList[i]" (click)="connectToRouter(router)">Connect</button>
        </ion-item>
      </ion-list>
</ion-content>