<ion-header>

  <ion-navbar>
    <ion-title>Router Stats - Wifi Everywhere</ion-title>

    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <doughnut-chart></doughnut-chart>

  <div *ngIf="canVote">
    <p>Please vote!</p>
    <router-rating [itemId]='internetPointId' [rating]='rating' (ratingClick)="getRatingChart();"></router-rating>
  </div>
</ion-content>