<div style="display: block">
  <canvas baseChart #chart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType">
            </canvas>
</div>