<add-router-modal></add-router-modal>
<agm-map 
    [latitude]="devicePosition.Latitude" 
    [longitude]="devicePosition.Longitude"
    (mapClick)="mapClicked($event)">
    <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
        <agm-marker *ngFor="let router of allRouters; let i = index"
            [latitude]="router.Location.Latitude" 
            [longitude]="router.Location.Longitude"
            [label]="router.Name"
            (markerClick)="clickOnMarker()">
        </agm-marker>
    </agm-marker-cluster>
</agm-map>
xxx:
{{devicePosition.Latitude}}

