page-landing {

}
 .forecast_container{
        overflow-x: scroll !important;
        overflow-y: hidden;
        word-wrap: break-word;
        //height:20vw;
        font-size:0.8em;
        font-weight:300;
}