<!--
  Generated template for the RoutersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Wifi Everywhere</ion-title>
    </ion-navbar>
    <ion-label item-end>Total points: {{totalPoints}}</ion-label>
</ion-header>

<ion-content no-padding>
    <router-map (updateRoutersTable)="getRouters(false, $event);"></router-map>
    <ion-grid class="" style="overflow-x: scroll; ">
        <ion-item color="gray">
            <ion-row text-center nowrap class="forecast_container">
                <ion-col class="forecast_div" style="font-size:11pt">Name</ion-col>
                <ion-col class="forecast_div">City</ion-col>
                <ion-col class="forecast_div">Password</ion-col>
                <ion-col class="forecast_div">Added by</ion-col>
                <ion-col class="forecast_div">Actions</ion-col>
            </ion-row>
        </ion-item>

        <ion-item *ngFor="let router of allRouters">
            <ion-row text-center nowrap class="forecast_container">
                <ion-col  class="forecast_div" style="font-size:11pt">{{router.Name}}</ion-col>
                <ion-col class="forecast_div" >{{router.City}}</ion-col>
                <ion-col class="forecast_div"  *ngIf="router.Password">
                    <button ion-button color="secondary" (click)="connectToRouter(router)">CONNECT</button>
                </ion-col>
                <ion-col class="forecast_div"  *ngIf="!router.Password">
                    <button ion-button (click)="unlockRouter(router)">UNLOCK PASSWORD</button>
                </ion-col>
                <ion-col class="forecast_div" >{{router.AddedBy}}</ion-col>
                <ion-col class="forecast_div" >
                    <ion-icon *ngIf="isAdmin();" name="options" (click)="goToEdit(router.ID);"></ion-icon>
                    <ion-icon *ngIf="isAdmin();" name="trash" (click)="goToDelete(router.ID);"></ion-icon>
                    <ion-icon name="stats" (click)="openRouterInfoModal(router.ID);"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-grid> 
</ion-content>