<!-- <sidebar-menu></sidebar-menu> -->
<add-router-modal (refreshEvent)="getRouters()"></add-router-modal>
<router-map></router-map>
<table class='table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Password</th>
            <th>Added by</th>
            <th>5 Star Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngIf='allRouters && allRouters.length'>
        <tr *ngFor='let router of allRouters'>
            <td>{{router.Name}}</td>
            <td>{{router.City}}</td>
            <td>{{router.Password}}</td>
            <td>{{router.AddedBy}}</td>
            <td><router-rating [itemId]='router.ID' [rating]='router.Rating'></router-rating></td>
            <td>
                <app-connect-to-wifi></app-connect-to-wifi>
                <edit-router-modal (refreshEvent)="getRouters()" [internetPointId]="router.ID"></edit-router-modal>
                <delete-router-modal (refreshEvent)="getRouters()" [internetPointId]="router.ID"></delete-router-modal>
                <rating-stats-modal [internetPointId]="router.ID"></rating-stats-modal>
                <!-- <locate-router-modal [internetPointId]="router.ID"></locate-router-modal> -->
            </td>
        </tr>
    </tbody>
</table>