<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login - Wifi Everywhere</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Sign In</div>
          <!-- <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div> -->
        </div>

        <div style="padding-top:30px" class="panel-body">
          <div *ngIf="error" id="login-alert" class="alert alert-danger col-sm-12">{{errorMessage}}</div>
          <form id="loginform" class="form-horizontal" role="form" (ngSubmit)="login()">
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input id="login-username" type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
                value="" placeholder="username">
            </div>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
              <input id="login-password" type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
                placeholder="password">
            </div>
            <!-- <div class="input-group">
                                      <div class="checkbox">
                                        <label>
                                          <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                        </label>
                                      </div>
                                    </div> -->
            <div style="margin-top:10px" class="form-group">
              <!-- Button -->

              <div class="col-sm-12 controls">
                <button id="btn-login" href="#" class="btn btn-success">Login </button>
                <!-- <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a> -->
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                  Don't have an account!
                  <a (click)="goToRegister();"> Sign Up Here</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>