<i class="glyphicon glyphicon-remove" (click)="modal.show(); getRouter()"></i>
  <app-modal #modal>
    <div class="app-modal-header" *ngIf="internetPoint">
      Location for {{internetPoint?.Name}}
    </div>
    <div class="app-modal-body">
      <agm-map [latitude]="latitude" [longitude]="longitude">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
    </div>
  </app-modal>