<!--
  Generated template for the SettingsUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>User settings - Wifi Everywhere</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="updateUser()">
    <ion-item>
      <ion-label>Firstname</ion-label>
      <ion-input type="text" [(ngModel)]="currentUser.FirstName" name="firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Lastname</ion-label>
      <ion-input type="text" [(ngModel)]="currentUser.LastName" name="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" [(ngModel)]="currentUser.Username" [readonly]="true" name="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" [(ngModel)]="currentUser.Email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="currentUser.Password" name="password" placeholder="type password if you want to change it"></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Update</button>
  </form>
</ion-content>