<ion-header>
  <ion-navbar>
    <ion-title>
      Wifi Everywhere
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  Close to the world wide!
  <p>
    If you get lost, the
    <a href="#">docs</a> will be your guide.
  </p>

  <button ion-button (click)="goToLogin();">Login</button>
  <button ion-button color="secondary" (click)="goToRegister();">Register</button>

</ion-content>