<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Account settings</div>
        </div>

        <div style="padding-top:30px" class="panel-body">

            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

            <form id="settingsform" class="form-horizontal" role="form" (ngSubmit)="updateUser()">

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"> Firstname</i>
                    </span>
                    <input id="firstname" type="text" class="form-control" name="firstname" [(ngModel)]="currentUser.FirstName" placeholder="firstname">
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"> Lastname</i>
                    </span>
                    <input id="lastname" type="text" class="form-control" name="lastname" [(ngModel)]="currentUser.LastName" placeholder="lastname">
                </div>


                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"> Username</i>
                    </span>
                    <input id="username" type="text" class="form-control" name="username" [(ngModel)]="currentUser.Username" [readonly]="true" placeholder="username">
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"> Email</i>
                        </span>
                        <input id="email" type="text" class="form-control" name="email" [(ngModel)]="currentUser.Email" placeholder="email">
                    </div>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"> Password</i>
                    </span>
                    <input id="login-password" type="password" class="form-control" name="password" [(ngModel)]="currentUser.Password" placeholder="type password if you want to change it">
                </div>

                <div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls">
                        <button id="btn-login" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>