<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register - Wifi Everywhere</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <form id="signupform" class="form-horizontal" role="form" (ngSubmit)="register()">

          <div id="signupalert" *ngIf="error" class="alert alert-danger">
            <p>Error:</p>
            <span>{{error}}</span>
          </div>

          <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
              <input type="email" [(ngModel)]="model.Email" #email="ngModel" class="form-control" name="email" placeholder="Email Address"
                required>
            </div>
          </div>

          <div class="form-group">
            <label for="firstname" class="col-md-3 control-label">First Name</label>
            <div class="col-md-9">
              <input [(ngModel)]="model.FirstName" #FirstName="ngModel" type="text" class="form-control" name="firstname" placeholder="First Name">
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">Last Name</label>
            <div class="col-md-9">
              <input [(ngModel)]="model.LastName" #LastName="ngModel" type="text" class="form-control" name="lastname" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <label for="username" class="col-md-3 control-label">User Name</label>
            <div class="col-md-9">
              <input [(ngModel)]="model.Username" #Username="ngModel" type="text" class="form-control" name="username" placeholder="User Name">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-md-3 control-label">Password</label>
            <div class="col-md-9">
              <input [(ngModel)]="model.Password" #Password="ngModel" type="password" class="form-control" name="passwd" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-md-3 control-label">Re-password</label>
            <div class="col-md-9">
              <input [(ngModel)]="model.Repassword" #Repassword="ngModel" type="password" class="form-control" name="passwd" placeholder="Type password again">
            </div>
          </div>

          <div class="form-group">
            <label for="icode" class="col-md-3 control-label">Invitation Code</label>
            <div class="col-md-9">
              <input [(ngModel)]="model.InvitationCode" #InvitationCode="ngModel" type="text" class="form-control" name="icode" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button id="btn-signup" class="btn btn-info">
                <i class="icon-hand-right"></i> Sign Up</button>
            </div>
          </div>

          <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>