<ion-menu [content]="content" (ionOpen)="getCurrentUserInfo()">
    <ion-header>
        <ion-toolbar>
            <ion-title *ngIf="modeOnline" style="text-align:right;">Hello, {{currentUser?.FirstName}}</ion-title>
            <ion-title *ngIf="!modeOnline" style="text-align:right;">Offline mode</ion-title>
        </ion-toolbar>
        <ion-toolbar>
            <ion-title>Main Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<!-- <ion-nav [root]="rootPage"></ion-nav> -->