<agm-map
    [latitude]="devicePosition.Latitude" 
    [longitude]="devicePosition.Longitude"
    (mapClick)="mapClicked($event)"
    [streetViewControl]="false"
    [zoom]="17"
    (centerChange)="centerChanged($event)"
    >

    <agm-marker
        [latitude]="devicePosition.Latitude" 
        [longitude]="devicePosition.Longitude"
        [label]="currentPos"
        [iconUrl]="'assets/icon/currentPosition.png'"
       
        >
    </agm-marker>

    <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
        <agm-marker *ngFor="let router of allRouters; let i = index"
            [latitude]="router.Location.Latitude" 
            [longitude]="router.Location.Longitude"
            [label]="router.Name"
            (markerClick)="clickOnMarker(router)">
        </agm-marker>
    </agm-marker-cluster>
</agm-map>

