<!--
  Generated template for the DeleteRouterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Delete router - Wifi Everywhere</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form (ngSubmit)="deleteRouter()">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input type="text" [(ngModel)]="internetPoint.Name" name="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="text" [(ngModel)]="internetPoint.Password" name="description"></ion-input>
        </ion-item>
        <button ion-button type="submit" color="danger" block>Delete</button>
      </form>

</ion-content>
